@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color-bg: #d5e1df;
    --color-text-dark: #1f314f;
    --color-text-light: #68778d;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 320px;
    height: 499px;
    border-radius: 20px;
    background-color: #fff;
    padding: 16px 16px 40px 16px;
    text-align: center;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.content {
    padding: 16px 16px 0px 16px;
}

h1 {
    color: var(--color-text-dark);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    padding-top: 10px;
}

p {
    font-size: 15px;
    color: var(--color-text-light);
    font-weight: 400;
    padding: 16px;
    line-height: 1.4;
}

.attribution {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 11px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}